{%  load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
            {{ title|capfirst }}
    {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'softwareapp/css/style.css' %}"/>

</head>

<body>
    <div class="container">
        <div class="header">
            {% block menu %}
                {% include 'softwareapp/includes/inc_menu.html' %}
            {% endblock %}
        </div>
            {% block inc_menu %}
            {% endblock %}


    {% block content %}
        <h2>Проблемы</h2>
        Список полученного платного ПО, который не назначен для установки на указанный компьютер
        <div class="product_catalog">
        <h2>Требуется проставить владельца</h2>
            <table class="output">
                <tr>
                   <td>Softname</td>
                </tr>
                {% for itm in unknown_owner %}
                <tr>
                   <td>{{ itm.name }}</td>
                </tr>
                {% endfor %}
            </table>

        <h2>Требуется классифицировать</h2>
            <table class="output">
                <tr>
                   <td>Softname</td>
                   <td>Owner</td>
               </tr>
                {% for itm in unknown_category %}
                <tr>
                   <td>{{ itm.name }}</td>
                   <td>{{ itm.owner }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endblock %}
    </div>
</body>
</html>