{% extends 'softwareapp/base.html' %}


{% load static %}


{% block page_title %}
Каталог софта
{% endblock %}

{% block inc_menu %}
    {% include 'softwareapp/includes/inc_menu_soft_catalog.html' %}
{% endblock %}


{% block content %}
<h2>Категории</h2>

<div class="product_catalog">

            <ul>
                {% for itm in categories %}

                <li>
                        {{ itm.name }}
                </li>
                {% endfor %}

            </ul>
        </div>

<h2>Софт</h2>

<div class="product_catalog">

            <ul>
                {% for itm in software %}

                <li>
                        {{ itm.name }}
                </li>
                {% endfor %}

            </ul>
        </div>

{% endblock %}