{% extends 'softwareapp/base.html' %}


{% load static %}


{% block page_title %}
{{ category }}
{% endblock %}

{% block inc_menu %}
    {% include 'softwareapp/includes/inc_menu_soft_catalog.html' %}
{% endblock %}


{% block content %}

<h2>{{ category }}</h2>

<div class="product_catalog">

            <ul>
                {% for itm in soft %}

                <li>
                        {{ itm.name }}
                </li>
                {% endfor %}

            </ul>
        </div>

{% endblock %}