{%  load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
            {{ title|capfirst }}
    {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'softwareapp/css/style.css' %}"/>

</head>

<body>
    <div class="container">
        <div class="header">
            {% block menu %}
                {% include 'softwareapp/includes/inc_menu.html' %}
            {% endblock %}
        </div>
        <hr>
            {% block inc_menu %}
                {% include 'warehouseapp/includes/inc_menu.html' %}
            {% endblock %}


    {% block content %}

    {% endblock %}
    </div>
</body>
</html>